<header class="sidebar">
    <div class="sidebar-header">
        <div class="logo">
            <img src="/public/assets/svg/logo_veredictum.svg" alt="Logo Veredictum">
        </div>
        <span class="user-name">Lismara Ribeiro</span>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="./visao_geral.html"><img src="/public/assets/svg/visao-geral-black.svg" class="icon_vg" alt="Visão Geral"></a></li>
            <li><a href="./dashboard.html"><img src="/public/assets/svg/dash.svg" class="icon_dash" alt="Dashboard"></a></li>
            <li><a href="#"><img src="/public/assets/svg/painel.svg" class="icon_painel" alt="Painel"></a></li>
            <li><a href="#"><img src="/public/assets/svg/funcionario.svg" class="icon_funcionario" alt="Funcionário"></a></li>
            <li><a href="./agenda_relacionamento.html"><img src="/public/assets/svg/agenda.svg" class="icon_agenda" alt="Agenda"></a></li>
            <li><a href="#"><img src="/public/assets/svg/despezas.svg" class="icon_notas" alt="Despesas"></a></li>
            <li><a href="./notas-fiscais.html"><img src="/public/assets/svg/notas_fiscais.svg" class="icon_notas" alt="Notas Fiscais"></a></li>
            <li><a href="#"><img src="/public/assets/svg/logs.svg" class="icon_logs" alt="Logs"></a></li>
            <li><a href="#" class="teambepem-btn"><img src="/public/assets/svg/equipe.svg" class="icon_teambepem" alt="Teambepem"> teambepem</a></li>
        </ul>
    </nav>
    <div class="sidebar-footer">
        <a href="#"><img src="/public/assets/svg/exit.svg" class="icon_exit" alt="Sair"></a>
    </div>
</header>

